.card {
    background-color: white;
    width: 80%;
    border-radius: 20%;
}

.card img {
    width: 70%;
    height: auto;
}

.card h1 {
    color:darkcyan;
    font-family: 'MonteCarlo', cursive;
    margin: 0;
}

.card p {
    color: darkslateblue;
    font-family: 'Lobster', cursive;
}
